* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}

body {
  background-color: var(--black);
  height: 1000px;
  color: var(--white);
}

.hidden {
  display: none !important;
}

.relative {
  position: relative;
}

.container {
  padding-left: 5%;
  padding-right: 5%;
}
