* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}

body {
  background-color: var(--black);
  height: 1000px;
}

.hidden {
  display: none;
}

.relative {
  position: relative;
}

