.hidden-movie-card {
  position: absolute;
  display: block;
  top: 0 ;
  left: 60px;
  z-index: 10;
  transform: translate(-50%, -50%);

  background-color: red;
  transition: 0.5s;
  transition-property: width, height;
  opacity: 1;
}

.hidden-movie-card .card-header {
  width: 100%;
  aspect-ratio: 16/9;
}

.hidden-movie-card img {
  width: 100%;
}


/* .hidden-movie-card.closed {
  width: 0;
  height: 0;
  display: none;  
} */

.hidden-movie-card.closed {
  top: -2000px;
  left: -2000px;
  /* display: none; */
  opacity: 0;
}
.hidden-movie-card .card-content {
  height: 300px;
  transition: 0.5s;
  overflow: hidden;
}
.hidden-movie-card.closed .card-content {
  display: block;
  height: 0;
  opacity: 0;
}