@keyframes open-hidden-menu-description {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 200px;
    opacity: 1;
  }
}

@keyframes open-hidden-menu-total {
  from {
  }
  to {
    width: 300px;
  }
}

.hidden-movie-card {
  cursor: pointer;
  position: absolute;

  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);

  border-radius: 7px;

  overflow: hidden;
  
  top: 5 ;
  left: 60px;
  z-index: 10;
  transform: translate(-50%, -50%);

  background-color: var(--black);
  transition: 0.5s;
  transition-property: width, height;
  opacity: 1;
  animation: open-hidden-menu-total var(--fast-animation-time) forwards;
}

.hidden-movie-card .card-header {
  width: 100%;
  aspect-ratio: 16/9;
}

.hidden-movie-card img {
  width: 100%;
}

.card-content {
  overflow: hidden;
  animation: open-hidden-menu-description var(--fast-animation-time) forwards;
}